<div class="w-[70vh] h-[130vh] rounded-full bg-[#B1DDF5] flex justify-center items-center">
    <div class="w-[60vh] h-[120vh] rounded-full bg-[#92d3f6] flex justify-center items-center">
      <div class="w-[50vh] h-[110vh] rounded-full bg-[#68caff] flex justify-center items-center">
        <div class="w-[40vh] h-[100vh] rounded-full bg-[#3fb9fb] flex justify-center items-center">
          <div class="w-[30vh] h-[90vh] rounded-full bg-[#09a5f8] flex justify-center items-center">
            <div class="w-[20vh] h-[80vh] rounded-full bg-[#0098e9] flex justify-center items-center">
              <div class="w-[10vh] h-[70vh] rounded-full bg-[#038dd7] flex justify-center items-center">
                <div class="w-[1vh] h-[60vh] rounded-full bg-[#0284ca] flex justify-center items-center">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 