<form action="/users/login" method="post" class="w-[50%] border-2 border-[#B1DDF5] p-5 rounded-md">
    <input type="text" name="username" placeholder="Enter You User Name" class="w-full p-2 bg-[#B1DDF5] text-black placeholder-black outline-none rounded-md mt-5">
    <input type="password" name="password" placeholder="Enter password" class="w-full p-2 bg-[#B1DDF5] text-black placeholder-black outline-none rounded-md mt-5">
    <a href="/forgot-password"><p class="w-full p-2 mt-5">Forgot Password?</p></a>
    <button  class="w-full p-2 bg-[#B1DDF5] text-xl text-black placeholder-black outline-none rounded-[10px] my-5">Sign In</button>
</form>