<nav class="px-10 flex items-center justify-between">
  <a href="/"> <p class="font-['Kristi'] text-5xl mt-10">bookhub</p></a>

  <div class="mt-10 flex gap-10">
      <a href="/book/create" class="text-xl ">Add Book</a>
  <a href="/book/explore" class="text-xl ">Explore</a>
  </div>
 </nav>