<nav class="navbar" style="background-color:rgb(94, 64, 3);
color:rgb(94, 64, 3);">
  <div class="container-fluid">
    <form action="/search" method="post" class="d-flex" role="search"  >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn text-white" type="submit">Search</button>
    </form>
    <div class="nav">
    <a class="nav-link text-white" href="/">Home</a>
    <a class="nav-link text-white" href="/create">Create Book</a>
    <a class="nav-link text-white" href="/read">Library</a>
    <a class="nav-link text-white" href="/about">About</a>
  </div>
  </div>
</nav>