
<form action="/users/signup" method="post" class="w-[50%] border-2 border-[#B1DDF5] p-5 rounded-md">
    <input type="text" name="name" placeholder="Enter You Name" class="w-full p-2 bg-[#B1DDF5] text-black placeholder-black outline-none rounded-md mt-5">
    <input type="text" name="username" placeholder="Enter You User Name" class="w-full p-2 bg-[#B1DDF5] text-black placeholder-black outline-none rounded-md mt-5">
    <input type="email" name="email" placeholder="Enter You Email" class="w-full p-2 bg-[#B1DDF5] text-black placeholder-black outline-none rounded-md mt-5">
    <input type="password" name="password" placeholder="Enter password" class="w-full p-2 bg-[#B1DDF5] text-black placeholder-black outline-none rounded-md mt-5">
    <button class="w-full p-2 bg-[#B1DDF5] text-xl text-black placeholder-black outline-none rounded-md my-5">Sign Up</button>
</form>

