<%- include('./partials/header') %>
<h1 style="color:rgb(94,64,3); padding: 5%; font-size: 100px;">Explore, Buy, and Share Your Stories – Your Bookstore and Writing Hub in One Place!"</h1>
<%- include('./partials/footer') %>